<%= session[:player_1] %> vs <%= session[:player_2]  %><br>
<%= session[:player_2]  %>'s hitpoints: 100/100

<% if @attack %>
<%= session[:player_2]%> took damage!
<% end %>

<form action="/attack" method="post">
  <input type="hidden" name="attack">
  <input type="submit" value="ATTACK!">
</form>
